<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turbocenter</title>
</head>

<body>

    <header>
        <h1>Turbocenter</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/products">Productos</a>
            <a href="/profile">Perfil</a>
            <a href="/about">Sobre Nosotros</a>
            <a href="/contact">Contáctanos</a>
            <a href="/login">Inicia Sesión</a>
            <a href="/register">Regístrate</a>
            <a href="/logout">Cerrar Sesión</a>
            <a href="/cart">Carrito</a>
            <a href="/support">Soporte</a>
            <a href="/admin">Panel de Administración</a>
        </nav>
    </header>
    <main>
        <section class="featured-products">
            <h2>Productos Destacados</h2>
            <div class="product">
                <img src="original_part.jpg" alt="Pieza Original">
                <h3>Pieza Original</h3>
                <p>Garantizamos la autenticidad y calidad de nuestras piezas originales para tu vehículo.</p>
            </div>
            <div class="product">
                <img src="competition_part.jpg" alt="Pieza de Competición">
                <h3>Pieza de Competición</h3>
                <p>¿Listo para llevar tu vehículo al siguiente nivel? Descubre nuestras piezas de competición de alto
                    rendimiento.</p>
            </div>
        </section>

        <section class="about-us">
            <h2>Sobre Nosotros</h2>
            <p>En Turbocenter, nos apasiona el mundo del automovilismo. Nos especializamos en ofrecer una amplia gama de
                piezas de auto, desde componentes originales hasta piezas de competición para entusiastas y
                profesionales.</p>
        </section>

        <section class="how-to-order">
            <h2>Cómo Ordenar</h2>
            <p>Realizar un pedido en Turbocenter es fácil. Navega por nuestras categorías, selecciona los productos que
                necesitas y agrégales al carrito. ¡Listo para mejorar tu vehículo!</p>
        </section>
    </main>
    <footer>
        <div class="social-column">
            <h3>Redes Sociales</h3>
            <div class="social-icons">
                <a href="#" target="_blank">Facebook</a>
                <a href="#" target="_blank">Instagram</a>
                <a href="#" target="_blank">Twitter</a>
                <a href="#" target="_blank">TikTok</a>
            </div>
        </div>

        <div class="links-column">
            <h3>Enlaces</h3>
            <ul>
                <li><a href="#">Legislaciones</a></li>
                <li><a href="#">Trabaja con nosotros</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Reporta un error</a></li>
            </ul>
        </div>
        <p>Sitio creado por francordz99</p>

    </footer>
</body>

</html>