<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turbocenter</title>
</head>

<body>

    <header>
        <h1>Turbocenter</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/products">Productos</a>
            <a href="/profile">Perfil</a>
            <a href="/about">Sobre Nosotros</a>
            <a href="/chat">Chat</a>
            <a href="/contact">Contáctanos</a>
            <a href="/login">Inicia Sesión</a>
            <a href="/register">Regístrate</a>
            <a href="/logout">Cerrar Sesión</a>
            <a href="/cart">Carrito</a>
            <a href="/support">Soporte</a>
            <a href="/admin">Panel de Administración</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Producto</h2>
        </section>
    </main>
    <footer>
        <div class="social-column">
            <h3>Redes Sociales</h3>
            <div class="social-icons">
                <a href="#" target="_blank">Facebook</a>
                <a href="#" target="_blank">Instagram</a>
                <a href="#" target="_blank">Twitter</a>
                <a href="#" target="_blank">TikTok</a>
            </div>
        </div>

        <div class="links-column">
            <h3>Enlaces</h3>
            <ul>
                <li><a href="#">Legislaciones</a></li>
                <li><a href="#">Trabaja con nosotros</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Reporta un error</a></li>
            </ul>
        </div>
        <p>Sitio creado por francordz99</p>

    </footer>
</body>

</html>